@media (max-width:768px) {
    
    .header {
        padding: 0 32px;  
    }
    .intro__wrap {
        background-size: cover;
        background-position: center center;
        
    }

    .intro__text {
        font-weight: 900;
        font-size: 44px;
        line-height: 53px;
        
    }
}