$maincolor: #F16D7F;

@mixin loyalty {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@mixin loyalty__tablet{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

